<div class="container-fluid">

  <p>
      Gemutiles

      En tout premier : sécuriser son application

      Rajouter  gem

      # pour protéger les credentials : https://github.com/bkeepers/dotenv
      gem 'dotenv-rails', :groups => [:development, :test]

      <strong> explication sur l'utilisation de cette gem</strong>

      puis pour que ce soit qlfjl

    </p>

</div>
