Gemutiles

En tout premier : sécuriser son application

Rajouter  gem

# pour protéger les credentials : https://github.com/bkeepers/dotenv
gem 'dotenv-rails', :groups => [:development, :test]

<strong><p> explication sur l'utilisation de cette gem</p></strong>

puis pour que ce soit joli