<div class="container-fluid"><p>
  <a href="<%= gemutile_path %>">
<img src="http://lorempixel.com/110/110/cats/2"  class="img-circle" alt="image de chat responsive">
</a>
</p>
    <p>
      <a class="btn btn-primary btn-lg" role="button">Learn more</a>
    </p>

</div>